Unidad_04_DTD_XSD/DTD/exámenes/DTD2018/Harry Potter/examen.dtd

<!ELEMENT harryPotter (#PCDATA | casa)*>
<!ENTITY harry "Me encanta Harry Potter">
<!ENTITY % atributoEdad "edad (infantil | adolescente | adulto) 'infantil'">
<!ATTLIST harryPotter %atributoEdad;>
<!ELEMENT casa (personaje+)>
<!ATTLIST casa nombre ID #IMPLIED>
<!ELEMENT personaje EMPTY>
<!ATTLIST personaje nombre ID #REQUIRED 
                    %atributoEdad;
                    estado (muerto | vivo) #FIXED "vivo"> 
